:root {
  --color-main-text: #434455;
  --color-text-title: #2e2f42;
  --color-accent: #4d5ae5;
  --color-bgr-secondary: #f4f4fd;
  --color-bgr-dark: #2e2f42;
  --color-focus: #404bbf;
  --color-white: #ffffff;
  --color-footer-text: #e7e9fc;
  --color-footer-logo: #f4f4fd;
  --color-icon: #8e8f99;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  background-color: var(--color-white);
}
ul {
  margin: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 428px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  padding: 96px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button:hover,
button:focus {
  background-color: var(--color-focus);
}

.button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.mobile-menu-link.current {
  color: var(--color-accent);
}
/* -----Header-----*/
.header {
  border-bottom: 1px solid var(--color-footer-text);
}
.header-container {
  padding: 0px 15px;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-logo-color {
  line-height: 1.33;
  color: var(--color-accent);
}
.header-logo {
  line-height: 1.33;
  color: var(--color-text-title);
}
.header-list,
.address-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* ---------mobile-menu-------- */
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}

.mobile-social {
  margin-top: auto;
}

.mobile-menu-list {
  margin-top: 32px;
}

.mobile-menu-item {
  margin-bottom: 40px;
}

.mobile-address-item {
  margin-bottom: 40px;
}

.mobile-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-bgr-dark);
}

.mobile-phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-accent);
}

.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: var(--color-focus);
}

.button-hamburger-open {
  background-color: transparent;
  border: none;
}

.button-hamburger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: var(--color-footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  transition-property: fill, background-color;
}

.button-hamburger-close:hover,
.button-hamburger-close:focus {
  fill: var(--color-white);
  background-color: var(--color-focus);
}

.mobile-social {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.mobile-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mobile-social-icon {
  fill: currentColor;
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--color-focus);
}

/* -----Hero----- */
.hero {
  background-color: var(--color-bgr-dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-mob-2x.jpg);
  }
}

.hero.section {
  padding: 112px 0;
}
.container-hero {
  text-align: center;
}
.hero-title {
  width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 16px 32px;
  transition-property: background-color;
}

/* -----Feature----- */
.feature-list {
  flex-wrap: wrap;
  row-gap: 72px;
}
.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-bgr-dark);
}

.feature-text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* ----- Products ------- */
.products {
  padding-top: 0px;
}
.products-item {
  width: calc((100% - 48px) / 3);
}
.products-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-title);
}

/* -----Our Team----- */
.team-container {
  max-width: 296px;
  background-color: var(--color-bgr-secondary);
}

.team.section {
  padding-bottom: 128px;
}
.team {
  background-color: var(--color-bgr-secondary);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--color-text-title);
}
.team-after-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-text-title);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 8px;
}
.team-item {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-focus);
}
.text-about-team {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
/* ----- Customers----- */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-title);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}
.customers-item {
  height: 88px;
  width: 190px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--color-focus);
  color: var(--color-focus);
}
/* -----Footer----- */
.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-bgr-dark);
}
.footer-logo {
  line-height: 1.16;
  color: var(--color-footer-logo);
}
.footer-logo-color {
  line-height: 1.16;
  color: var(--color-accent);
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-footer-text);
}
.footer-container {
  display: flex;
}
.footer-social {
  margin-left: 120px;
  margin-right: 80px;
}
.footer-social-title,
.footer-form-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  display: flex;
  font-weight: 500;
  width: 40px;
  height: 40px;
}
.footer-modal-icon {
  fill: var(--color-white);
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: currentColor;
}
.footer-form {
  display: flex;
}
.footer-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-white);
  background-color: transparent;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe {
  margin-left: auto;
}
.footer-form-button {
  display: flex;
  height: 40px;
  width: 165px;
  margin-left: 24px;
  padding: 8px 24px;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color;
}
/* ----Backdrop---- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: var(--color-footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  transition-property: fill, background-color;
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--color-white);
  background-color: var(--color-focus);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  height: 586px;
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.modal-form-button {
  position: fixed;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border-color: transparent;
  left: 50%;
  transform: translatex(-50%);
  margin-bottom: 24px;
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-bgr-dark);
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-input:focus,
.modal-comment:focus {
  border-color: var(--color-accent);
}
.modal-input:focus + .modal-icon {
  fill: var(--color-accent);
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  fill: #2e2f42;
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--color-bgr-dark);
  border-radius: 2px;
}
.modal-checkbox-wrap {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.modal-checkbox-policy {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-checkbox-policy a {
  color: #4d5ae5;
}
.checkbox-policy-text {
  display: inline-block;
}

.modal-checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--color-bgr-dark);
  border-radius: 2px;
  fill: transparent;
  flex-shrink: 0;
}
.modal-checkbox:checked + .modal-checkbox-policy .modal-checkbox-icon {
  background-color: var(--color-focus);
  border: none;
  fill: var(--color-footer-logo);
}
.modal-checkbox:focus + .modal-checkbox-policy .modal-checkbox-icon {
  border-color: var(--color-accent);
}
/* -----Portfolio----- */
.gallery.section {
  padding: 48px 0;
}
.buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--color-bgr-secondary);
  color: var(--color-accent);
  border: 1px solid var(--color-footer-text);
  border-radius: 4px;
  padding: 12px 24px;
  transition-property: color, background-color, box-shadow;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-focus);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  column-gap: 24px;
  row-gap: 48px;
}
.picture-item {
  border: 1px solid var(--color-footer-text);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.picture-item-wrap {
  position: relative;
  overflow: hidden;
}
.picture-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--color-bgr-secondary);
  background-color: var(--color-accent);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.picture-item:hover {
  border: 0.5px solid var(--color-footer-logo);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.picture-item:hover .picture-text-overlay {
  transform: translateY(0);
}
.picture-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-title);
}
.picture-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}
.text-about-picture {
  border: 1px solid var(--color-footer-text);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
/* -----@media----- */

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .mobile-phone {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/people-office-tab-2x.jpg);
    }
  }
  .header-container {
    display: flex;
  }
  .header-navigation {
    display: flex;
  }
  .mobile-menu,
  .button-hamburger-open {
    display: none;
  }
  .header-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
  .header-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-title);
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .header-link:hover,
  .header-link:focus,
  .current {
    color: var(--color-accent);
  }
  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-focus);
    border-radius: 2px;
    pointer-events: none;
  }
  .address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 24px;
    justify-content: flex-end;
  }
  .address-link {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: var(--color-main-text);
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--color-accent);
  }
  .hero.section {
    padding: 112px 0 108px;
  }
  .hero-title {
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .team.section {
    padding-bottom: 104px;
  }
  .team-container {
    max-width: 584px;
  }
  .customers-container,
  .footer-container {
    max-width: 584px;
  }
  .customers-item {
    height: 88px;
    width: calc((100% - 48px) / 3);
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-list {
    gap: 72px 24px;
  }
  .feature-title {
    text-align: left;
  }
  .gallery.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .picture-list {
    margin-top: 64px;
    row-gap: 72px;
  }
  .picture-item {
    width: calc((100% - 24px) / 2);
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-social {
    margin: 0;
  }
  .footer-text {
    margin-top: 0;
    width: 264px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-button {
    margin: 0;
  }
  .footer-main {
    align-items: normal;
  }
  .footer-form-title {
    text-align: start;
  }
  .footer-social-title {
    margin-top: 24px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .hero.section {
    padding: 188px 0;
  }
  .section {
    padding: 120px 0;
  }
  .header-container {
    padding: 0 15px;
  }
  .header-list {
    margin-left: 76px;
  }
  .address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
  }
  .address {
    margin-left: auto;
  }
  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office.jpg);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/people-office-2x.jpg);
    }
  }
  .feature.section {
    padding-bottom: 0;
  }
  .feature-list {
    gap: 24px;
  }
  .feature-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .future-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: var(--color-footer-logo);
    border-radius: 4px;
  }
  .feature-item {
    width: unset;
  }
  .team-container {
    max-width: 1158px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers-container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .customers-item {
    height: 88px;
    width: calc((100% - 24px * 5) / 6);
  }
  .picture-item {
    width: calc((100% - 48px) / 3);
  }
  .gallery.section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    padding: 0 15px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
  }
  .footer-social-title {
    margin-top: 0;
  }
  .footer-social {
    margin-left: 120px;
    margin-right: 80px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 319px;
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .customers-icon {
    width: 110px;
  }
  .modal {
    padding: 16px;
  }
  .team-container {
    max-width: 296px;
  }
}

@media screen and (max-width: 1199px) {
  .products.section {
    display: none;
  }
  .future-icon {
    display: none;
  }
}
